<section>
  <form #registerForm="ngForm" (ngSubmit)="register()" class="register-form">
    <mat-form-field>
      <input matInput name="username" required maxlength="40" type="text"
             placeholder="{{'register.username.placeholder' | translate}}"
             [(ngModel)]="username"
             pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$"
             #usernameInput="ngModel"/>
      <mat-icon>user</mat-icon>
      <mat-hint align="start">{{'register.username.hint' | translate}}</mat-hint>
      <mat-error *ngIf="usernameInput.hasError('required')">
        {{'register.username.error.client.required' | translate}}
      </mat-error>
      <mat-error *ngIf="usernameInput.hasError('maxlength')">
        {{'register.username.error.client.maxlenght' | translate}}
      </mat-error>
      <mat-error *ngIf="usernameInput.hasError('pattern')">
        {{'register.username.error.client.pattern' | translate}}
      </mat-error>
      <!--The server side validation error-->
      <mat-error *ngIf="usernameInput.hasError('server')">
        {{'register.username.error.server.'+ usernameInput.errors['server'] | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="password" required maxlength="16" minlength="6" type="password"
             [(ngModel)]="password"
             placeholder="{{'register.password.placeholder' | translate}}"
             pattern="^.*(?=.{6,})(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*?\[\]\(\)\=\-\_\+\\\|\<\>\,\.\/]).*$"
             #passwordInput="ngModel"/>
      <mat-icon>lock</mat-icon>
      <mat-hint align="start">{{'register.password.hint' | translate}}</mat-hint>
      <mat-error *ngIf="passwordInput.hasError('required')">
        {{'register.password.error.client.required' | translate}}
      </mat-error>
      <mat-error *ngIf="passwordInput.hasError('maxlength')">
        {{'register.password.error.client.maxlength' | translate}}
      </mat-error>
      <mat-error *ngIf="passwordInput.hasError('minlength')">
        {{'register.password.error.client.minlength' | translate}}
      </mat-error>
      <mat-error *ngIf="passwordInput.hasError('pattern')">
        {{'register.password.error.client.pattern' | translate}}
      </mat-error>
      <!--The server side validation error-->
      <mat-error *ngIf="passwordInput.hasError('server')">
        {{'register.password.error.server.'+ passwordInput.errors['server'] | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="nickname" required maxlength="12" minlength="3" type="text"
             [(ngModel)]="nickname"
             placeholder="{{'register.nickname.placeholder' | translate}}"
             pattern="^[\u4E00-\u9FA5A-Za-z0-9_]+$"
             #nicknameInput="ngModel"/>
      <mat-icon>face</mat-icon>
      <mat-hint align="start">{{'register.nickname.hint' | translate}}</mat-hint>
      <mat-error *ngIf="nicknameInput.hasError('required')">
        {{'register.nickname.error.client.required' | translate}}
      </mat-error>
      <mat-error *ngIf="nicknameInput.hasError('maxlength')">
        {{'register.nickname.error.client.maxlength' | translate}}
      </mat-error>
      <mat-error *ngIf="nicknameInput.hasError('minlength')">
        {{'register.nickname.error.client.minlength' | translate}}
      </mat-error>
      <mat-error *ngIf="nicknameInput.hasError('pattern')">
        {{'register.nickname.error.client.pattern' | translate}}
      </mat-error>
      <!--The server side validation error-->
      <mat-error *ngIf="nicknameInput.hasError('server')">
        {{'register.nickname.error.server.'+ nicknameInput.errors['server'] | translate}}
      </mat-error>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button color="primary" class="button-theme" type="submit" [disabled]="!registerForm.valid">
        {{'register.button' | translate}}
      </button>
    </div>
  </form>
  <nwen-seperator [showContent]="true">
    {{'register.separator.content' | translate}}
  </nwen-seperator>
  <div class=" social-application-container">
    <button mat-mini-fab>
      <mat-icon>user</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon>user</mat-icon>
    </button>
    <button mat-mini-fab class="others">
      <mat-icon>user</mat-icon>
    </button>
  </div>
  <div class="login-link-container">
    <a routerLink="/login">
      {{'register.button.go-to-login' | translate}}
    </a>
  </div>
</section>
