<section>
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form">
    <label>
      <span class="input-label-text">{{'register.nickname.hint' | translate}}</span>
      <span class="input-wrapper valid">
        <input name="nickname" formControlName="nickname"
               placeholder="{{'register.nickname.placeholder' | translate}}"/>
        <mat-icon class="input-icon">face</mat-icon>
      </span>
    </label>
    <label>
      <span class="input-label-text">{{'register.username.hint' | translate}}</span>
      <span class="input-wrapper error">
        <input name="username" formControlName="username"
               placeholder="{{'register.username.placeholder' | translate}}"/>
        <mat-icon class="input-icon">email</mat-icon>
      </span>
    </label>
    <label>
      <span class="input-label-text">{{'register.password.hint' | translate}}</span>
      <span class="input-wrapper">
        <input name="password" formControlName="password"
               placeholder="{{'register.password.placeholder' | translate}}"/>
        <mat-icon class="input-icon">lock</mat-icon>
      </span>
    </label>
    <button type="submit"
            [disabled]="!registerForm.valid">
      {{'register.button' | translate}}
    </button>
  </form>
  <nwen-seperator [showContent]="true">
    <span class="other-register-options-separator-label">
      {{'register.separator.content' | translate}}
    </span>
  </nwen-seperator>
  <div class="social-application-container">
    <mat-icon routerLink="#" class="social-application">email</mat-icon>
    <mat-icon routerLink="#" class="social-application">email</mat-icon>
  </div>
  <div class="login-link-container">
    <a routerLink="/login">
      {{'register.button.go-to-login' | translate}}
    </a>
  </div>
</section>
