@import "~src/common";
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}
section {
  width: calc(100% - 64px);
  max-width: $MAX_WIDTH7;
  margin: auto 32px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  display: flex;

  @include responsive($MAX_WIDTH5) {
    width: 500px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    width: 100%;

    > * {
      width: 100%;
      margin-top: 16px;
      margin-bottom: 16px;
    }
    > * + * {
      margin-top: 0;
    }
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;

    @include responsive($MAX_WIDTH5) {
      width: 500px;
    }

    color: $COLOR4;

    .button-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: start;
      justify-content: space-between;

      button {
        margin-left: auto;
      }
    }
  }

  .social-application-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    button {
      color: $COLOR4;
      margin-left: auto;
      margin-right: auto;
    }
    button.others {
      color: $COLOR4 !important;
    }
  }

  .login-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 32px !important;
    margin-bottom: 16px !important;

    a {
      color: $COLOR4;
      font-size: 18px;
    }
  }
}
