<mat-nav-list class="btn-list">
  <a mat-list-item href="#">
    {{'side-navigator.btn.login-or-register'|translate}}
  </a>
  <a mat-list-item href="#">
    {{'side-navigator.btn.home'|translate}}
  </a>
  <a mat-list-item href="#">
    {{'side-navigator.btn.hot-anthologies' | translate}}
  </a>
  <a mat-list-item href="#">
    {{'side-navigator.btn.recent-update-anthologies' | translate}}
  </a>
  <a mat-list-item href="#">
    {{'side-navigator.btn.hot-articles' | translate}}
  </a>
  <a mat-list-item href="#">
    {{'side-navigator.btn.about' | translate}}
  </a>
</mat-nav-list>
