@import "~src/common";
.secondary-top-navigator {
  flex-grow: 0;
  flex-shrink: 0;
  position: sticky;
  z-index: 998;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: start;
  background-color: $COLOR_LEVEL0;
  padding-right: 0;
  padding-left: 0;
  animation: toggle-hide 0.3s;
  animation-fill-mode: forwards;
  @keyframes toggle-hide {
    0% {
      border-bottom: 1px solid $COLOR_LEVEL1;
      height: 72px;
    }
    100% {
      height: 0;
    }
  }

  .search-btn {
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-right: 1px solid $COLOR_LEVEL1;
    transition: 0.5s;
  }

  .search-btn:hover {
    background-color: $COLOR_LEVEL2;
    color: $COLOR_LEVEL0;
  }

  .search-box-container {
    height: 100%;
    display: none;
    width: 100%;
    position: absolute;
    flex-direction: row;
    align-items: center;

    .search-box {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: none;
      outline: none;
      height: calc(100% - 10px);
      flex-grow: 1;
    }

    .close-search-box-btn{
      padding-left: 25px;
      padding-right: 25px;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      border-right: 1px solid $COLOR_LEVEL1;
      transition: 0.5s;
    }

    .close-search-box-btn:hover {
      background-color: $COLOR_LEVEL4;
      color: $COLOR_LEVEL0;
    }
  }

  .search-box-container.display {
    display: flex;

  }

  .filter-container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;

    .filter-by-tags-label {
      padding-left: 25px;
      padding-right: 25px;
      font-size: $FONT_SIZE_LEVEL0;
      font-weight: bold;
      border-left: 1px solid $COLOR_LEVEL1;
      border-right: 1px solid $COLOR_LEVEL1;
      height: 100%;
      display: flex;
      align-items: center;
    }

    a.tag {
      padding-left: 25px;
      padding-right: 25px;
      font-size: $FONT_SIZE_LEVEL0;
      border-right: 1px solid $COLOR_LEVEL1;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.5s;
      text-decoration: underline;
    }

    a.tag:hover {
      background-color: $COLOR_LEVEL2;
      color: $COLOR_LEVEL0;
    }
  }
}
.secondary-top-navigator.display {
  animation: toggle-display 0.3s;
  animation-fill-mode: forwards;

  @keyframes toggle-display {
    0% {
      height: 0;
      border-bottom: 1px solid $COLOR_LEVEL1;
    }
    100% {
      border-bottom: 1px solid $COLOR_LEVEL1;
      height: 72px;
    }
  }
}



