@import "~src/common";
$SECONDARY_TOP_NAVIGATOR_HEIGHT: 72px;
$SECONDARY_TOP_NAVIGATOR_ANIMATION_DURATION: 0.3s;
.secondary-top-navigator {
  flex-grow: 0;
  flex-shrink: 0;
  position: sticky;
  z-index: 997;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: start;
  background-color: $COLOR0;
  padding-right: 0;
  padding-left: 0;
  top: 72px;
  opacity: 0.9;

  .search-btn {
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-right: 1px solid $COLOR1;
    transition: 0.5s;
  }

  .search-btn:hover {
    background-color: $COLOR2;
    color: $COLOR0;
  }

  .search-box-container {
    height: 100%;
    display: none;
    width: 100%;
    position: absolute;
    flex-direction: row;
    align-items: center;
    background-color: $COLOR0;

    .search-box {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: none;
      outline: none;
      height: calc(100% - 10px);
      flex-grow: 1;
    }

    .close-search-box-btn {
      padding-left: 25px;
      padding-right: 25px;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      border-right: 1px solid $COLOR1;
      transition: 0.5s;
    }

    .close-search-box-btn:hover {
      background-color: $COLOR4;
      color: $COLOR0;
    }
  }

  .search-box-container.display {
    display: flex;

  }

  .filter-container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;

    .filter-by-tags-label {
      padding-left: 25px;
      padding-right: 25px;
      font-size: $FONT_SIZE0;
      font-weight: bold;
      border-right: 1px solid $COLOR1;
      height: 100%;
      display: flex;
      align-items: center;
    }

    a.tag {
      padding-left: 25px;
      padding-right: 25px;
      font-size: $FONT_SIZE0;
      border-right: 1px solid $COLOR1;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.5s;
      text-decoration: underline;
    }

    a.tag:hover {
      background-color: $COLOR2;
      color: $COLOR0;
    }
  }
}
.secondary-top-navigator.display {
  animation: toggle-display;
  animation-fill-mode: forwards;
  animation-duration: $SECONDARY_TOP_NAVIGATOR_ANIMATION_DURATION;

  @keyframes toggle-display {
    0% {
      height: 0;
      border-bottom: 1px solid $COLOR1;
    }
    100% {
      border-bottom: 1px solid $COLOR1;
      height: $SECONDARY_TOP_NAVIGATOR_HEIGHT;
    }
  }
}
.secondary-top-navigator.hide {
  animation: toggle-hide;
  animation-fill-mode: forwards;
  animation-duration: $SECONDARY_TOP_NAVIGATOR_ANIMATION_DURATION;

  @keyframes toggle-hide {
    0% {
      border-bottom: 1px solid $COLOR1;
      height: $SECONDARY_TOP_NAVIGATOR_HEIGHT;
    }
    100% {
      height: 0;
      border-bottom: none;
    }
  }
}



