<mat-sidenav-container class="navigator-container">
  <mat-sidenav #drawer class="side-navigator" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="'push'"
               [opened]="false">
    <mat-toolbar>
      <span class="side-navigator-logo-container">
        <nwen-logo></nwen-logo>
      </span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="top-navigator">
      <span class="top-navigator-btn-more" (click)="drawer.toggle()">
        <mat-icon class="top-navigator-btn-more-icon">menu</mat-icon>
        <span class="top-navigator-btn-more-label">{{'top-navigator.btn.more' | translate}}</span>
      </span>
      <span class="top-navigator-logo-container">
        <nwen-logo></nwen-logo>
      </span>
      <span class="flex-spacer"></span>
      <span class="join-us-label">{{'top-navigator.label.join-us' | translate}}</span>
      <a class="login-or-register-btn" href="#">{{'top-navigator.btn.login-or-register' | translate}}</a>
      <a class="write-article-btn" href="#">{{'top-navigator.btn.write-article' | translate}}</a>
    </mat-toolbar>
    <section class="main-content"></section>
  </mat-sidenav-content>
</mat-sidenav-container>
