<mat-sidenav-container class="navigator-container">
  <mat-sidenav #sideNavigator class="side-navigator" fixedInViewport="true"
               [mode]="'push'"
               [opened]="false">
    <mat-toolbar>
      <span class="logo-container">
        <nwen-logo></nwen-logo>
      </span>
    </mat-toolbar>
    <nwen-side-navigator></nwen-side-navigator>
  </mat-sidenav>
  <mat-sidenav-content>
    <nwen-primary-top-navigator [sideNavigator]="sideNavigator"
                                (toggleSecondaryTopNav)="toggleSecondaryTopNavigator()"></nwen-primary-top-navigator>
    <nwen-secondary-top-navigator ngClass="{'show': showSecondaryTopNavigator}"></nwen-secondary-top-navigator>
    <section class="main-content">
      <nwen-home></nwen-home>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
