<nwen-jumborton-card [card]="cards[0]"></nwen-jumborton-card>
<nwen-reactive-card-container [cards]="cards" [maxColumnNumber]="4">
</nwen-reactive-card-container>
<nwen-jumborton-card [card]="cards[0]"></nwen-jumborton-card>
<nwen-reactive-card-container [cards]="cards" [maxColumnNumber]="4">
</nwen-reactive-card-container>
<nwen-jumbotron [backgroundImageUrl]="cards[0].coverImageUrl"></nwen-jumbotron>
<nwen-seperator></nwen-seperator>
<nwen-reactive-card-container [cards]="cards" [maxColumnNumber]="4">
</nwen-reactive-card-container>
