@import "~src/common";
:host {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.container {
  overflow: hidden;
  margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
  height: 560px;
  background-color: $COLOR_LEVEL0;
  border-bottom: 1px solid $COLOR_LEVEL4;

  div.coverImg {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    background-position: 50% 50% !important;
    background-size: 100% !important;
    background-origin: border-box !important;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: 1s;
  }

  div.coverImg:hover{
    background-size: 120% !important;
  }

  div.coverImg.filter {
    filter: grayscale(100%);
  }

  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    flex-shrink: 1;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1rem;

    header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: start;
      flex-grow: 0;
      flex-shrink: 0;
      a.title {
        font-size: 2.5rem;
        line-height: 50px;
        max-height: 250px;
        color: $COLOR_LEVEL7;
        text-decoration: none;
        font-feature-settings: 'clig' 0, 'calt' 0, 'case' 1;
        font-kerning: normal;
        font-variant-ligatures: common-ligatures;
        text-transform: uppercase;
        overflow: hidden;
        word-wrap: break-word;
        font-weight: 300;
        transition: 0.5s;
      }
      a.title:hover{
        color: $COLOR_LEVEL4;
      }

      a.sub-title {
        font-size: 1.5rem;
        color: $COLOR_LEVEL6;
        text-decoration: none;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        max-height: 205px;
        transition: 0.5s;
      }
      a.sub-title:hover {
        color: $COLOR_LEVEL4;
      }
    }
    section {
      font-size: 14px;
      margin-left: 20px;
      margin-right: 20px;
      font-weight: 400;
      overflow: hidden;
      outline: none;
      text-align: center;
      line-height: 22px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% - 40px);
    }
    section:hover {
      color: $COLOR_LEVEL5;
    }
  }
}
.container.right-border {
  border-right: 1.5px solid $COLOR_LEVEL1;
}
.container:hover {
  article {
    header {
      a.title {
        color: $COLOR_LEVEL5;
      }
    }
  }

  div.coverImg.filter {
    filter: grayscale(0%);
  }
}
.container.circle {
  flex-direction: column-reverse;
  align-items: center;
  justify-items: end;
  height: 400px;
  article {
    margin-bottom: auto;

    header {
      align-items: center;
      a.title {
        font-size: 30px;
      }

      a.sub-title {
        font-size: 25px;
      }
    }
  }
  div.coverImg {
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
  }
}
@include responsive(996px) {
  .container.column {

    article {
      header {

        a.title {
          font-size: 70px;
          line-height: 70px;
          max-height: 350px;
        }
        a.sub-title {
          font-size: 30px;
        }
      }
      section {
        font-size: 20px;
      }
    }
  }

}

