<div class="container" *ngIf="uiModel.initialized">
  <div class="coverImg" *ngIf="showCoverImage && uiModel.coverImageUrl"
       [routerLink]="uiModel.coverImageRouterLink"
       [style.background-image]="'url('+uiModel.coverImageUrl+')'">
    <ng-content></ng-content>
  </div>
  <article *ngIf="showTitle || showSubTitle">
    <header>
      <a class="title" [routerLink]="uiModel.titleRouterLink" *ngIf="showTitle">
        {{uiModel.title}}
      </a>
      <a class="sub-title" [routerLink]="uiModel.subTitleRouterLink" *ngIf="showSubTitle">
        {{uiModel.subTitle}}
      </a>
    </header>
    <section *ngIf="showContent">
      {{uiModel.content}}
    </section>
    <footer>
      <a class="action">
        <mat-icon>turned_in</mat-icon>
      </a>
      <a class="action">
        <mat-icon>thumb_up_alt</mat-icon>
      </a>
    </footer>
  </article>
</div>
<div class="container" *ngIf="!uiModel.initialized">
  Loading card content ...
</div>

