<div class="container">
  <article *ngIf="showTitle || showSubTitle">
    <header>
      <a class="title" [routerLink]="card.titleRouterLink" *ngIf="showTitle">
        {{card.title}}
      </a>
      <a class="sub-title" [routerLink]="card.subTitleRouterLink" *ngIf="showSubTitle">
        {{card.subTitle}}
      </a>
    </header>
    <section [routerLink]="card.contentRouterLink" *ngIf="showContent">
      {{card.content}}
    </section>
  </article>
  <div class="coverImg" *ngIf="showCoverImage && card.coverImageUrl"
       [routerLink]="card.coverImageRouterLink"
       [style.background-image]="'url('+card.coverImageUrl+')'">
    <ng-content></ng-content>
  </div>
</div>

