<div class="container">
  <div class="coverImg" *ngIf="showCoverImage && card.coverImageUrl"
       [routerLink]="card.coverImageRouterLink"
       [style.background-image]="'url('+card.coverImageUrl+')'">
    <ng-content></ng-content>
  </div>

  <article *ngIf="showTitle || showSubTitle">
    <header>
      <a class="title" [routerLink]="card.titleRouterLink" *ngIf="showTitle">
        {{card.title}}
      </a>
      <a class="sub-title" [routerLink]="card.subTitleRouterLink" *ngIf="showSubTitle">
        {{card.subTitle}}
      </a>
    </header>
    <section *ngIf="showContent">
      {{card.content}}
    </section>
    <footer>
      <a class="action">
        <mat-icon>turned_in</mat-icon>
      </a>
      <a class="action">
        <mat-icon>thumb_up_alt</mat-icon>
      </a>
    </footer>
  </article>
</div>

