@import "~src/common";
:host {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.container {
  overflow: hidden;
  margin: 32px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
  height: 560px;
  background-color: $COLOR0;
  border-bottom: 1px solid $COLOR4;

  div.coverImg {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    background-position: 50% 50% !important;
    background-size: 100% !important;
    background-origin: border-box !important;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: 1s;
  }

  div.coverImg:hover {
    background-size: 120% !important;
  }

  article {
    width: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    flex-shrink: 1;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 1rem;

    header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-items: start;
      flex-grow: 0;
      flex-shrink: 0;
      a.title {
        font-size: 2.5rem;
        line-height: 50px;
        max-height: 250px;
        color: $COLOR7;
        text-decoration: none;
        font-feature-settings: 'clig' 0, 'calt' 0, 'case' 1;
        font-kerning: normal;
        font-variant-ligatures: common-ligatures;
        text-transform: uppercase;
        overflow: hidden;
        word-wrap: break-word;
        font-weight: 300;
        transition: 0.5s;
        text-align: start;
      }
      a.title:hover {
        color: $COLOR5;
      }

      a.sub-title {
        font-size: 1.5rem;
        color: $COLOR6;
        text-decoration: none;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        max-height: 205px;
        transition: 0.5s;
        text-align: start;
      }
      a.sub-title:hover {
        color: $COLOR4;
      }
    }
    section {
      font-size: 14px;
      font-weight: 400;
      overflow: hidden;
      outline: none;
      text-align: start;
      line-height: 22px;
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      color: $COLOR4;
      transition: 0.5s;
    }
    section:hover {
      color: $COLOR5;
    }

    footer {
      overflow: hidden;
      outline: none;
      text-align: start;
      line-height: 22px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      width: 100%;
      margin-top: 30px;
      justify-items: end;

      a {
        font-size: 12px;
        margin: 5px;
        color: $COLOR6;
        transition: 0.5s;
        cursor: pointer;
      }
      a:hover {
        color: $COLOR5;
      }
    }
  }
}
.container:hover {
  article {
    header {
      a.title {
        color: $COLOR5;
      }
    }
  }
}


