$FONT_FAMILY: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
$PALETTE_COLOR_LEVEL1:#232931;
$PALETTE_COLOR_LEVEL2:#393e46;
$PALETTE_COLOR_LEVEL3:#4ecca3;
$PALETTE_COLOR_LEVEL4:#eeeeee;
