$FONT_FAMILY: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
$COLOR_LEVEL0: #FFFFFF;
$COLOR_LEVEL1: #f0f5f9;
$COLOR_LEVEL2: #c9d6df;
$COLOR_LEVEL3: #52616b;
$COLOR_LEVEL4: #1e2022;
$FONT_SIZE_LEVEL0: 14px;
