$FONT_FAMILY: "Microsoft YaHei", "微软雅黑", "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", Helvetica, Arial, Verdana, sans-serif;
/**
Color
 */
$COLOR0: #FFFFFF;
$COLOR1: #EEEEEE;
$COLOR2: #4ECCA3;
$COLOR3: #4BBE95;
$COLOR4: #393E46;
$COLOR5: #232931;
$COLOR6: #929292;
$COLOR7: #828282;
/**
Font size
 */
$FONT_SIZE0: 13px;
$FONT_SIZE1: 14px;
/**
Max width
 */
$MAX_WIDTH1: 1773px;
$MAX_WIDTH2: 1420px;
$MAX_WIDTH3: 1280px;
$MAX_WIDTH4: 1200px;
$MAX_WIDTH5: 996px;
$MAX_WIDTH6: 768px;
$MAX_WIDTH7: 568px;
$MAX_WIDTH8: 450px;
$MAX_WIDTH9: 330px;

@mixin responsive($width) {
  @media (min-width: $width) {
    @content;
  }
}
@mixin circle_icon($width) {
  border-radius: 50%;
  overflow: hidden;
  width: $width;
  height: $width;
  min-width: $width;
  max-width: $width;
}

