/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~src/common";

body {
  font-family: $FONT_FAMILY;
  font-size: 14px;
  color: $PALETTE_COLOR_LEVEL1;
}
span.flex-spacer {
  flex-grow: 1;
}
a:active {
  color: inherit;
}
a:visited {
  color: inherit;
}


