/* You can add global styles to this file, and also import other style files */
@import "~src/common";
html, body {
  font-family: $FONT_FAMILY;
  font-size: $FONT_SIZE_LEVEL1;
  color: $COLOR_LEVEL5;
  background-color: $COLOR_LEVEL0;
  height: 100%;
}
span.flex-spacer {
  flex-grow: 1;
}
a {
  text-decoration: none;
}
a:active {
  color: inherit;
}
a:visited {
  color: inherit;
}



