/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~src/common";
html, body {
  font-family: $FONT_FAMILY;
  font-size: $FONT_SIZE_LEVEL0;
  color: $COLOR_LEVEL4;
  background-color: $COLOR_LEVEL0;
  height: 100%;
}
span.flex-spacer {
  flex-grow: 1;
}
a {
  text-decoration: none;
}
a:active {
  color: inherit;
}
a:visited {
  color: inherit;
}



