@import "~src/common";
:host{
  width: 100%;
  max-width: $MAX_WIDTH1;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.container {
  height: 420px;
  overflow: hidden;
  background-color: inherit;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-items: start;
  border-bottom: 1px solid $COLOR4;
  margin-bottom: 64px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;

  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    margin-top: 40px;

    header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-items: start;
      flex-grow: 0;
      flex-shrink: 0;
      a.title {
        font-size: 2.5rem;
        line-height: 50px;
        max-height: 201px;
        color: $COLOR7;
        text-decoration: none;
        font-feature-settings: 'clig' 0, 'calt' 0, 'case' 1;
        font-kerning: normal;
        font-variant-ligatures: common-ligatures;
        text-transform: uppercase;
        overflow: hidden;
        word-wrap: break-word;
        transition: 0.5s;
        font-weight: 300;
      }
      a.title:hover {
        color: $COLOR5;
      }
      a.sub-title {
        font-size: 1.5rem;
        color: $COLOR6;
        text-decoration: none;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        max-height: 205px;
        transition: 0.5s;
      }
      a.sub-title:hover {
        color: $COLOR4;
      }
    }
    section {
      font-size: $FONT_SIZE1;
      max-height: 175px;
      font-weight: 400;
      flex-grow: 1;
      flex-shrink: 1;
      outline: none;
      color: $COLOR4;
      transition: 0.5s;
    }
    section:hover {
      color: $COLOR5;
    }
  }

  div.coverImg {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    background-position: 50% 50% !important;
    background-size: 100% !important;
    background-origin: border-box !important;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: 1s;
  }
  div.coverImg:hover {
    background-size: 120% !important;

  }
  .container:hover {
    article {
      header {
        a.title {
          color: $COLOR5;
        }
      }
    }
  }

}
@include responsive($MAX_WIDTH5) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-items: start;
    height: 600px;

    article {
      width: calc(50% - 32px);
      height: calc(100% - 80px);
      margin-bottom: 40px;
      margin-right: 32px;

      header {
        margin-top: 64px;
        margin-bottom: 64px;
      }
      section{
        font-size: 18px;
      }
    }

    div.coverImg {
      width: 44.2%;
      height: calc(100% - 80px);
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

}

